<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
          th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a th:href="@{${@cons.storeAllP}}">Lamator</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="">
                    <a data-reveal-id="myModal" href="#">Nosotros</a>
                </li>
                <li class="active" th:remove="${!@sec.isAdmin(#httpSession) ? 'all' : 'none'}">
                    <!--<a th:href="@{${@cons.adminP + '/profile/' + session.user?.id}}"-->
                    <a th:href="@{${@cons.adminP + '/product/list'}}"
                       th:text="${session.username}">
                        Perfil
                    </a>
                </li>
                <li th:if="${@sec.isAdmin(#httpSession)}" class="has-dropdown">
                    <a href="javascript:void(0);">Mantenimientos</a>
                    <ul class="dropdown">
                        <li th:class="${option == 'profile' ? 'active':''}">
                            <a th:href="@{/admin/profile/list}">Perfil</a>
                        </li>
                        <li th:class="${option == 'product' ? 'active':''}">
                            <a th:href="@{/admin/product/list}">Producto</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="has-dropdown" th:remove="${!@sec.isAdmin(#httpSession) ? 'tag' : 'none'}">
                    <a href="#" th:if="${@sec.isAdmin(#httpSession)}">Tienda</a>
                    <ul class="dropdown" th:remove="${!@sec.isAdmin(#httpSession) ? 'tag' : 'none'}">
                        <li th:class="${'todo'.equalsIgnoreCase(currType) ? 'active' : ''}">
                            <a href="/store/Todo">
                                Todo
                            </a>
                        </li>
                        <li th:class="${type.name.equalsIgnoreCase(currType) ? 'active' : ''}" th:each="type : ${types}">
                            <a th:href="@{${@cons.storeP + '/' + type.name}}"
                               th:text="${type.name}">
                                Abrigos
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a th:if="${@sec.isAdmin(#httpSession)}"
                       th:onclick="${'postHome(''' + @cons.adminLogoffP + ''', null)'}"
                       href="javascript:void(0);">
                        Logoff
                    </a>
                </li>
            </ul>
        </section>
    </nav>

    <!--http://foundation.zurb.com/sites/docs/v/5.5.3/components/reveal.html-->
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Lamator, una tienda peruana</h2>
        <p class="lead">Llama Alpaca Modern Artisans sTORe</p>
        <p>Ofrecemos los productos de artesanos peruanos seleccionados hechos con finos materiales
            andinos de la más alta calidad.
            <br/><br/>
            Fernando Aragón, Cesar Valverde, Armando Córdova</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!--http://foundation.zurb.com/sites/docs/v/5.5.3/components/reveal.html-->
    <div id="myModalProfile" class="reveal-modal" data-reveal aria-labelledby="modalTitleProfile" aria-hidden="true"
         role="dialog">
        <h2 id="modalTitleProfile">Lamator, una tienda peruana</h2>
        <p class="lead">Llama Alpaca Modern Artisans sTORe</p>
        <p>Ofrecemos los productos de artesanos peruanos seleccionados hechos con finos materiales
            andinos de la más alta calidad.
            <br/><br/>
            Fernando Aragón, Cesar Valverde, Armando Córdova</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!--http://foundation.zurb.com/sites/docs/v/5.5.3/components/reveal.html-->
    <div id="myModalRegister" class="reveal-modal" data-reveal aria-labelledby="modalTitleRegister" aria-hidden="true"
         role="dialog">
        <h2 id="modalTitleRegister">Regístrate a Lamator</h2>
        <p class="lead">Llama Alpaca Modern Artisans sTORe</p>
        <p>Aqui va un form de registro</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>
</body>
</html>

<!--<a href="javascript:void(0)" onclick="myJsFunc();">Run JavaScript Code</a>-->