<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
          th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Lamator</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="active"><a href="#">Abrigos</a></li>
                <li class="active"><a href="#">Gorros</a></li>
                <li class="active"><a href="#">Mantas</a></li>
                <li class="active"><a href="#">Otros</a></li>
                <!--<li class="has-dropdown">-->
                <!--<a href="#">Right Button Dropdown</a>-->
                <!--<ul class="dropdown">-->
                <!--<li><a href="#">First link in dropdown</a></li>-->
                <!--<li class="active"><a href="#">Active link in dropdown</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li class="active"><a data-reveal-id="myModal" href="#">Nosotros</a></li>
            </ul>


        </section>
    </nav>

    <!--http://foundation.zurb.com/sites/docs/v/5.5.3/components/reveal.html-->
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Lamator, una tienda peruana</h2>
        <p class="lead">Llama Alpaca Modern Artisans sTORe</p>
        <p>Ofrecemos los productos de artesanos peruanos seleccionados hechos con finos materiales
         andinos de la más alta calidad.
            <br/><br/>
        Fernando Aragón, Cesar Valverde, Armando Córdova</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>
</body>
</html>