<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex">
<title>Title</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css?ver=4.4.2">
<link rel="stylesheet prefetch" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.css">
<link rel="stylesheet" href="/css/store2.css"/>
<link rel="stylesheet" href="/css/core.css"/>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="var" type="java.lang.String"*/-->
<!--<div style="text-align: center;margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 5px; border: 0px; background: #1ebea5; overflow: hidden; position: fixed; z-index: 16000002; width: 190px; height: 30px; right: 10px; bottom: 0px;">-->
    <!--<a style="color: white;" target="_blank" href="https://api.whatsapp.com/send?phone=51980415200&text=Lamator,%20tengo%20una%20consulta">WhatsAppeanos!</a>-->
<!--</div>-->

<div th:insert="fragments/header :: header"></div>

<div><!--admin page-->
</div>

<div th:insert="fragments/footer :: footer"></div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js?ver=1.11.2"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js?ver=4.4.2"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //this could be a param WishList
    var homeServer = /*[[${@cons.homeServer}]]*/null;
    //and this could be in a js file
    var getHome = function(path, data) {
        $.ajax(homeServer + path,{data: data})
            .done(function(msg) {
                if(msg.errorMsg != null){
                    //show message, stop.
                    return;
                }
                if(msg.infoMsg != null){
                    //show message, stop.
                    return;
                }
                if(msg.confirmMsg != null){
                    //show message pass function, stop
                    return;
                }
                if(msg.successMsg != null){
                    //show message, continue
                }
                console.log(msg.data);
            });
    }
    var postHome = function(path, data) {
        $.ajax(
            homeServer + path,
            {
                method: "POST",
                data: data
            })
            .done(function(msg) {
                if(msg.errorMsg != null){
                    //show message, stop.
                    return;
                }
                if(msg.infoMsg != null){
                    //show message, stop.
                    return;
                }
                if(msg.confirmMsg != null){
                    //show message pass function, stop
                    return;
                }
                if(msg.successMsg != null){
                    //show message, continue
                }
                if(msg.successMsg != null){
                    //show message, continue
                }
                console.log(msg.data);
            });
    }
    var cartNextVisible = null;
    $(document).foundation();
    /*]]>*/
</script>
<script type="text/javascript" src="/js/store2.js"></script>
</body>
</html>

<!--https://qtzar.com/2017/03/24/ajax-and-thymeleaf-for-modal-dialogs/-->