<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex">
<meta name="theme-color" content="#333"/>
<title>Title</title>
<link rel="manifest" href="/manifest.json"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css?ver=4.4.2">
<link rel="stylesheet prefetch" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.css">
<link rel="stylesheet" href="/css/store2.css"/>
<link rel="stylesheet" href="/css/core.css"/>

<!--<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"-->
        <!--th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js?ver=1.11.2"></script>

</head>
<body>
<!--/*@thymesVar id="var" type="java.lang.String"*/-->
<!--<div style="text-align: center;margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 5px; border: 0px; background: #1ebea5; overflow: hidden; position: fixed; z-index: 16000002; width: 190px; height: 30px; right: 10px; bottom: 0px;">-->
    <!--<a style="color: white;" target="_blank" href="https://api.whatsapp.com/send?phone=51980415200&text=Lamator,%20tengo%20una%20consulta">WhatsAppeanos!</a>-->
<!--</div>-->

<div th:insert="fragments/header :: header"></div>

<div><!--admin page-->
    <!--option<div th:text="${option}"></div>-->
    <!--viewType<div th:text="${viewType}"></div>-->
    <div th:if="${viewType == 'list'}">

    </div>
    <ul th:if="${viewType == 'list'}" class="crudWrapper center small-block-grid-1 medium-block-grid-1 large-block-grid-1">
        <li th:if="${option == 'profile'}">
            profile list
        </li>
        <li th:if="${option == 'product'}">
            <h1>
                Listado de Productos
                <a class="right" th:href="@{${'/admin/' +option + '/new'}}">Nuevo</a>
            </h1>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Imagen</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${list}">
                    <td th:text="${e.id}">Content Goes Here</td>
                    <td th:text="${e.name}">This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                    <td th:text="${e.description}">Content Goes Here</td>
                    <td th:text="${e.price}">Content Goes Here</td>
                    <td th:text="${e.productTypeId}">Content Goes Here</td>
                    <td>
                        <a class="th" th:href="${e.image}">
                            <img style="max-height: 80px; max-width: 80px" th:src="${e.image}">
                        </a>
                        <!--<a th:href="${e.image}">Link</a>-->
                    </td>
                    <td>
                        <ul class="stack button-group">
                            <li><a class="button tiny" th:href="@{${'/admin/product/' + e.id}}">Editar</a></li>
                            <li><button class="alert button tiny" th:onclick="${'postHome(''/admin/' + option + '/delete/' + e.id + ''', null)'}">Eliminar</button></li>
                            <!--<a th:href="@{${'/admin/product/' + e.id}}">Eliminar</a>-->
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
    <ul th:if="${viewType != 'list'}" class="crudWrapper center small-block-grid-1 medium-block-grid-1 large-block-grid-2">
        <li th:if="${option == 'profile'}">
        </li>
        <li th:if="${option == 'product'}">
            <h1>
                <div th:remove="tag" th:text="${newOrEdit}"></div>
                Producto
                <a class="right" th:href="@{${'/admin/' +option + '/list'}}">Lista</a>
            </h1>
            <br/>
            <form action="#" th:action="@{${objPostPath}}" th:object="${obj}" method="post">
                <p>Nombre: <input type="text" th:field="*{name}"/></p>
                <p>Descripción: <input type="text" th:field="*{description}"/></p>
                <p>Precio: <input type="number" th:field="*{price}"/></p>
                <p>Id tipo: <select th:field="*{productTypeId}">
                    <option th:each="type : ${types}"
                            th:value="${type.id}" th:text="${type.name}">Abrigo</option>
                </select></p>
                <p>Ruta Imagen: <input type="text" th:field="*{image}"/></p>
                <input class="button" type="submit" value="Enviar"/>
                <input class="button info" type="reset" value="Limpiar"/>
                <button class="button alert" type="button" th:if="${viewType != 'new'}" th:onclick="${'postHome(''/admin/' + option + '/delete/' + viewType + ''', null)'}">Eliminar</button>
            </form>
        </li>
    </ul>
</div>

<div th:insert="fragments/footer :: footer"></div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js?ver=1.11.2"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js?ver=4.4.2"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    //this could be a param WishList
    var homeServer = /*[[${@cons.homeServer}]]*/null;
    //and this could be in a js file
    var delayAndRedirect = function(msg){
        setTimeout(
            function() {
                if(msg.redirect != null){
                    window.location.href = homeServer + msg.redirect;
                }
                else if(msg.refresh == true){
                    window.location.reload(true);
                }
            }, 2000);
    }
    var getHome = function(path, data) {
        $.ajax(homeServer + path,{data: data})
            .done(function(msg) {
                if(msg.errorMsg != null){
                    //show message, stop.
                    return;
                }
                if(msg.infoMsg != null){
                    //show message, stop.
                    return;
                }
                if(msg.confirmMsg != null){
                    //show message pass function, stop
                    return;
                }
                if(msg.successMsg != null){
                    //show message, continue
                }
                console.log(msg.data);
            });
    }
    var postHome = function(path, data) {
        $.ajax(
            homeServer + path,
            {
                method: "POST",
                data: data
            })
            .done(function(msg) {
                if(msg.errorMsg != null){
                    //show message, stop.
                    delayAndRedirect(msg);
                    return;
                }
                else if(msg.infoMsg != null){
                    //show message, stop.
                    delayAndRedirect(msg);
                    return;
                }
                else if(msg.confirmMsg != null){
                    //show message pass function, stop
                    delayAndRedirect(msg);
                    return;
                }
                else if(msg.successMsg != null){
                    //show message, continue
                    delayAndRedirect(msg);
                }
                else if(msg.redirect != null){
                    window.location.href = homeServer + msg.redirect;
                    return;
                }
                else if(msg.refresh == true){
                    window.location.reload(true);
                    return;
                }
                console.log(msg.data);
            });
    }
    var cartNextVisible = null;
    $(document).foundation();
    /*]]>*/
</script>
<script type="text/javascript" src="/js/store2.js"></script>
</body>
</html>

<!--https://qtzar.com/2017/03/24/ajax-and-thymeleaf-for-modal-dialogs/-->