<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8"/>
<meta name="robots" content="noindex">
<title>Title</title>
<!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"-->
      <!--th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"-->
      <!--rel="stylesheet" media="screen" />-->
<!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"-->
      <!--th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"-->
      <!--rel="stylesheet" media="screen" />-->

<!--<link rel="shortcut icon" type="image/x-icon"-->
      <!--href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico">-->
<!--<link rel="mask-icon" type=""-->
      <!--href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"-->
      <!--color="#111">-->

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css?ver=4.4.2">
<link rel="stylesheet prefetch" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.css">
<link rel="stylesheet" href="css/store.css"/>
<link rel="stylesheet" href="css/core.css"/>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="var" type="java.lang.String"*/-->

<div th:insert="fragments/header :: header"></div>

<!--<div th:text="${products.size()}"></div>-->

<div><!--carrito de compras-->
    <a class="cart-icon">
        <span id="totalItems">0</span>
        <ul class="cart"></ul>
    </a>
    <!--lista de productos-->
    <ul class="productosWrapper center small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    </ul>
</div>

<div th:insert="fragments/footer :: footer"></div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js?ver=1.11.2"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js?ver=4.4.2"></script>
<script type="text/javascript" src="js/store.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>

<!--https://qtzar.com/2017/03/24/ajax-and-thymeleaf-for-modal-dialogs/-->